body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1641px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:63px;
}
#u3932 {
  position:absolute;
  left:327px;
  top:551px;
  width:320px;
  height:62px;
}
#u3933 {
  position:absolute;
  left:2px;
  top:23px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u3934 {
  position:absolute;
  left:300px;
  top:100px;
  width:379px;
  height:776px;
}
#u3935 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3936 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u3937 {
  position:absolute;
  left:327px;
  top:208px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u3938 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u3939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
}
#u3941 {
  position:absolute;
  left:327px;
  top:208px;
  width:320px;
  height:41px;
}
#u3942 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u3943 {
  position:absolute;
  left:459px;
  top:219px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u3944 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u3945 {
  position:absolute;
  left:348px;
  top:219px;
  width:12px;
  height:20px;
}
#u3946 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3947 {
  position:absolute;
  left:425px;
  top:677px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3948 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3949 {
  position:absolute;
  left:412px;
  top:331px;
  width:218px;
  height:25px;
}
#u3949_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u3950 {
  position:absolute;
  left:345px;
  top:331px;
  width:57px;
  height:16px;
}
#u3951 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3952 {
  position:absolute;
  left:412px;
  top:372px;
  width:218px;
  height:25px;
}
#u3952_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u3953 {
  position:absolute;
  left:345px;
  top:374px;
  width:59px;
  height:20px;
}
#u3954 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u3955 {
  position:absolute;
  left:327px;
  top:249px;
  width:107px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3956 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u3957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:33px;
}
#u3957 {
  position:absolute;
  left:434px;
  top:249px;
  width:103px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3958 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u3959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:33px;
}
#u3959 {
  position:absolute;
  left:537px;
  top:249px;
  width:111px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3960 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u3961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:39px;
}
#u3961 {
  position:absolute;
  left:451px;
  top:895px;
  width:73px;
  height:38px;
  font-size:28px;
}
#u3962 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:161px;
}
#u3963 {
  position:absolute;
  left:26px;
  top:112px;
  width:264px;
  height:150px;
}
#u3964 {
  position:absolute;
  left:10px;
  top:10px;
  width:244px;
  word-wrap:break-word;
}
#u3965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:63px;
}
#u3965 {
  position:absolute;
  left:327px;
  top:1443px;
  width:320px;
  height:62px;
}
#u3966 {
  position:absolute;
  left:2px;
  top:23px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u3967 {
  position:absolute;
  left:300px;
  top:992px;
  width:379px;
  height:776px;
}
#u3968 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u3970 {
  position:absolute;
  left:327px;
  top:1100px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u3971 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u3972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
}
#u3974 {
  position:absolute;
  left:327px;
  top:1100px;
  width:320px;
  height:41px;
}
#u3975 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u3976 {
  position:absolute;
  left:459px;
  top:1111px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u3977 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u3978 {
  position:absolute;
  left:348px;
  top:1111px;
  width:12px;
  height:20px;
}
#u3979 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u3980 {
  position:absolute;
  left:466px;
  top:1317px;
  width:59px;
  height:20px;
}
#u3981 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u3982 {
  position:absolute;
  left:327px;
  top:1141px;
  width:107px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3983 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u3984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:33px;
}
#u3984 {
  position:absolute;
  left:434px;
  top:1141px;
  width:103px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3985 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u3986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:33px;
}
#u3986 {
  position:absolute;
  left:537px;
  top:1141px;
  width:111px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3987 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u3988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:39px;
}
#u3988 {
  position:absolute;
  left:451px;
  top:1787px;
  width:73px;
  height:38px;
  font-size:28px;
}
#u3989 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:63px;
}
#u3990 {
  position:absolute;
  left:805px;
  top:1443px;
  width:320px;
  height:62px;
}
#u3991 {
  position:absolute;
  left:2px;
  top:23px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u3992 {
  position:absolute;
  left:778px;
  top:992px;
  width:379px;
  height:776px;
}
#u3993 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u3995 {
  position:absolute;
  left:805px;
  top:1100px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u3996 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u3997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
}
#u3999 {
  position:absolute;
  left:805px;
  top:1100px;
  width:320px;
  height:41px;
}
#u4000 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u4001 {
  position:absolute;
  left:937px;
  top:1111px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u4002 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u4003 {
  position:absolute;
  left:826px;
  top:1111px;
  width:12px;
  height:20px;
}
#u4004 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u4005 {
  position:absolute;
  left:805px;
  top:1141px;
  width:107px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4006 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:33px;
}
#u4007 {
  position:absolute;
  left:912px;
  top:1141px;
  width:103px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4008 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u4009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:33px;
}
#u4009 {
  position:absolute;
  left:1015px;
  top:1141px;
  width:111px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4010 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u4011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
}
#u4012 {
  position:absolute;
  left:805px;
  top:1201px;
  width:320px;
  height:39px;
}
#u4013 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:17px;
}
#u4014 {
  position:absolute;
  left:826px;
  top:1213px;
  width:122px;
  height:16px;
}
#u4015 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u4016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u4016 {
  position:absolute;
  left:1040px;
  top:1213px;
  width:61px;
  height:20px;
}
#u4017 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
}
#u4019 {
  position:absolute;
  left:805px;
  top:1240px;
  width:320px;
  height:39px;
}
#u4020 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:17px;
}
#u4021 {
  position:absolute;
  left:826px;
  top:1252px;
  width:122px;
  height:16px;
}
#u4022 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u4023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u4023 {
  position:absolute;
  left:1040px;
  top:1252px;
  width:61px;
  height:20px;
}
#u4024 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
}
#u4026 {
  position:absolute;
  left:805px;
  top:1279px;
  width:320px;
  height:39px;
}
#u4027 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:17px;
}
#u4028 {
  position:absolute;
  left:826px;
  top:1291px;
  width:122px;
  height:16px;
}
#u4029 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u4030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u4030 {
  position:absolute;
  left:1040px;
  top:1291px;
  width:61px;
  height:20px;
}
#u4031 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:39px;
}
#u4032 {
  position:absolute;
  left:929px;
  top:1787px;
  width:73px;
  height:38px;
  font-size:28px;
}
#u4033 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:63px;
}
#u4034 {
  position:absolute;
  left:1289px;
  top:1443px;
  width:320px;
  height:62px;
}
#u4035 {
  position:absolute;
  left:2px;
  top:23px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u4036 {
  position:absolute;
  left:1262px;
  top:992px;
  width:379px;
  height:776px;
}
#u4037 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u4039 {
  position:absolute;
  left:1289px;
  top:1100px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u4040 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u4041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
}
#u4043 {
  position:absolute;
  left:1289px;
  top:1100px;
  width:320px;
  height:41px;
}
#u4044 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u4045 {
  position:absolute;
  left:1421px;
  top:1111px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u4046 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u4047 {
  position:absolute;
  left:1310px;
  top:1111px;
  width:12px;
  height:20px;
}
#u4048 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u4049 {
  position:absolute;
  left:1289px;
  top:1141px;
  width:107px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4050 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u4051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:33px;
}
#u4051 {
  position:absolute;
  left:1396px;
  top:1141px;
  width:103px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4052 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u4053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:33px;
}
#u4053 {
  position:absolute;
  left:1499px;
  top:1141px;
  width:111px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4054 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u4055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
}
#u4056 {
  position:absolute;
  left:1289px;
  top:1201px;
  width:320px;
  height:39px;
}
#u4057 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:17px;
}
#u4058 {
  position:absolute;
  left:1310px;
  top:1213px;
  width:122px;
  height:16px;
}
#u4059 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u4060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u4060 {
  position:absolute;
  left:1524px;
  top:1213px;
  width:61px;
  height:20px;
}
#u4061 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
}
#u4063 {
  position:absolute;
  left:1289px;
  top:1240px;
  width:320px;
  height:39px;
}
#u4064 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:17px;
}
#u4065 {
  position:absolute;
  left:1310px;
  top:1252px;
  width:122px;
  height:16px;
}
#u4066 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u4067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u4067 {
  position:absolute;
  left:1524px;
  top:1252px;
  width:61px;
  height:20px;
}
#u4068 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
}
#u4070 {
  position:absolute;
  left:1289px;
  top:1279px;
  width:320px;
  height:39px;
}
#u4071 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:17px;
}
#u4072 {
  position:absolute;
  left:1310px;
  top:1291px;
  width:122px;
  height:16px;
}
#u4073 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u4074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u4074 {
  position:absolute;
  left:1524px;
  top:1291px;
  width:61px;
  height:20px;
}
#u4075 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:39px;
}
#u4076 {
  position:absolute;
  left:1413px;
  top:1787px;
  width:73px;
  height:38px;
  font-size:28px;
}
#u4077 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:63px;
}
#u4078 {
  position:absolute;
  left:803px;
  top:551px;
  width:320px;
  height:62px;
}
#u4079 {
  position:absolute;
  left:2px;
  top:23px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u4080 {
  position:absolute;
  left:776px;
  top:100px;
  width:379px;
  height:776px;
}
#u4081 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u4083 {
  position:absolute;
  left:803px;
  top:208px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u4084 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u4085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
}
#u4087 {
  position:absolute;
  left:803px;
  top:208px;
  width:320px;
  height:41px;
}
#u4088 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u4089 {
  position:absolute;
  left:929px;
  top:219px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u4090 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u4091 {
  position:absolute;
  left:824px;
  top:219px;
  width:12px;
  height:20px;
}
#u4092 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:41px;
}
#u4093 {
  position:absolute;
  left:865px;
  top:725px;
  width:197px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4094 {
  position:absolute;
  left:2px;
  top:9px;
  width:193px;
  word-wrap:break-word;
}
#u4095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u4095 {
  position:absolute;
  left:900px;
  top:280px;
  width:127px;
  height:127px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4096 {
  position:absolute;
  left:2px;
  top:44px;
  width:123px;
  word-wrap:break-word;
}
#u4097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:39px;
}
#u4097 {
  position:absolute;
  left:927px;
  top:895px;
  width:73px;
  height:38px;
  font-size:28px;
}
#u4098 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4099 {
  position:absolute;
  left:905px;
  top:420px;
  width:199px;
  height:25px;
}
#u4099_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u4100 {
  position:absolute;
  left:824px;
  top:423px;
  width:71px;
  height:20px;
}
#u4101 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u4102 {
  position:absolute;
  left:825px;
  top:660px;
  width:113px;
  height:20px;
}
#u4103 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u4104 {
  position:absolute;
  left:824px;
  top:455px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u4105 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u4106 {
  position:absolute;
  left:832px;
  top:485px;
  width:76px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4107 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u4108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u4108 {
  position:absolute;
  left:925px;
  top:485px;
  width:76px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4109 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u4110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u4110 {
  position:absolute;
  left:1021px;
  top:485px;
  width:76px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4111 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u4112 {
  position:absolute;
  left:814px;
  top:690px;
  width:300px;
  height:22px;
}
#u4112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4112_input:disabled {
  color:grayText;
}
#u4113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:569px;
}
#u4113 {
  position:absolute;
  left:1289px;
  top:1100px;
  width:321px;
  height:568px;
  opacity:0.5;
}
#u4114 {
  position:absolute;
  left:2px;
  top:276px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u4115 {
  position:absolute;
  left:1400px;
  top:1364px;
  width:114px;
  height:39px;
  font-size:28px;
  color:#FFFFFF;
}
#u4116 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u4117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:63px;
}
#u4117 {
  position:absolute;
  left:327px;
  top:2329px;
  width:320px;
  height:62px;
}
#u4118 {
  position:absolute;
  left:2px;
  top:23px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u4119 {
  position:absolute;
  left:300px;
  top:1878px;
  width:379px;
  height:776px;
}
#u4120 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u4122 {
  position:absolute;
  left:327px;
  top:1986px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u4123 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u4124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
}
#u4126 {
  position:absolute;
  left:327px;
  top:1986px;
  width:320px;
  height:41px;
}
#u4127 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u4128 {
  position:absolute;
  left:459px;
  top:1997px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u4129 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u4130 {
  position:absolute;
  left:348px;
  top:1997px;
  width:12px;
  height:20px;
}
#u4131 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:152px;
}
#u4132 {
  position:absolute;
  left:355px;
  top:2168px;
  width:281px;
  height:151px;
  text-align:center;
}
#u4133 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u4134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u4134 {
  position:absolute;
  left:327px;
  top:2027px;
  width:107px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4135 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u4136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:33px;
}
#u4136 {
  position:absolute;
  left:434px;
  top:2027px;
  width:103px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4137 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u4138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:33px;
}
#u4138 {
  position:absolute;
  left:537px;
  top:2027px;
  width:111px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4139 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u4140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:41px;
}
#u4140 {
  position:absolute;
  left:389px;
  top:2449px;
  width:197px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4141 {
  position:absolute;
  left:2px;
  top:9px;
  width:193px;
  word-wrap:break-word;
}
#u4142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:39px;
}
#u4142 {
  position:absolute;
  left:451px;
  top:2673px;
  width:73px;
  height:38px;
  font-size:28px;
}
#u4143 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:63px;
}
#u4144 {
  position:absolute;
  left:803px;
  top:2329px;
  width:320px;
  height:62px;
}
#u4145 {
  position:absolute;
  left:2px;
  top:23px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u4146 {
  position:absolute;
  left:776px;
  top:1878px;
  width:379px;
  height:776px;
}
#u4147 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u4149 {
  position:absolute;
  left:803px;
  top:1986px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u4150 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u4151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4152 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
}
#u4153 {
  position:absolute;
  left:803px;
  top:1986px;
  width:320px;
  height:41px;
}
#u4154 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u4155 {
  position:absolute;
  left:929px;
  top:1997px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u4156 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u4157 {
  position:absolute;
  left:824px;
  top:1997px;
  width:12px;
  height:20px;
}
#u4158 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:41px;
}
#u4159 {
  position:absolute;
  left:865px;
  top:2455px;
  width:197px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4160 {
  position:absolute;
  left:2px;
  top:9px;
  width:193px;
  word-wrap:break-word;
}
#u4161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
}
#u4161 {
  position:absolute;
  left:913px;
  top:2087px;
  width:101px;
  height:73px;
}
#u4162 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4163 {
  position:absolute;
  left:837px;
  top:2196px;
  width:252px;
  height:22px;
}
#u4163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4163_input:disabled {
  color:grayText;
}
#u4164 {
  position:absolute;
  left:837px;
  top:2228px;
  width:252px;
  height:25px;
}
#u4164_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4165 {
  position:absolute;
  left:837px;
  top:2263px;
  width:100px;
  height:18px;
}
#u4166 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4165_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
}
#u4167 {
  position:absolute;
  left:1060px;
  top:2235px;
  width:18px;
  height:11px;
}
#u4168 {
  position:absolute;
  left:2px;
  top:-2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:39px;
}
#u4169 {
  position:absolute;
  left:927px;
  top:2673px;
  width:73px;
  height:38px;
  font-size:28px;
}
#u4170 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:63px;
}
#u4171 {
  position:absolute;
  left:1287px;
  top:2329px;
  width:320px;
  height:62px;
}
#u4172 {
  position:absolute;
  left:2px;
  top:23px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u4173 {
  position:absolute;
  left:1260px;
  top:1878px;
  width:379px;
  height:776px;
}
#u4174 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4175 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u4176 {
  position:absolute;
  left:1287px;
  top:1986px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u4177 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u4178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4179 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
}
#u4180 {
  position:absolute;
  left:1287px;
  top:1986px;
  width:320px;
  height:41px;
}
#u4181 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u4182 {
  position:absolute;
  left:1413px;
  top:1997px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u4183 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u4184 {
  position:absolute;
  left:1308px;
  top:1997px;
  width:12px;
  height:20px;
}
#u4185 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:41px;
}
#u4186 {
  position:absolute;
  left:1349px;
  top:2455px;
  width:197px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4187 {
  position:absolute;
  left:2px;
  top:9px;
  width:193px;
  word-wrap:break-word;
}
#u4188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
}
#u4188 {
  position:absolute;
  left:1397px;
  top:2087px;
  width:101px;
  height:73px;
}
#u4189 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u4190 {
  position:absolute;
  left:1411px;
  top:2673px;
  width:73px;
  height:40px;
  font-size:28px;
}
#u4191 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:21px;
}
#u4192 {
  position:absolute;
  left:1373px;
  top:2196px;
  width:153px;
  height:20px;
}
#u4193 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u4194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:33px;
}
#u4194 {
  position:absolute;
  left:1424px;
  top:2226px;
  width:46px;
  height:32px;
  font-size:28px;
  color:#3399CC;
}
#u4195 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u4196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
}
#u4196 {
  position:absolute;
  left:1365px;
  top:2279px;
  width:169px;
  height:40px;
  color:#999999;
  text-align:center;
}
#u4197 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u4198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:21px;
}
#u4199 {
  position:absolute;
  left:364px;
  top:481px;
  width:217px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4200 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u4201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:21px;
}
#u4201 {
  position:absolute;
  left:364px;
  top:523px;
  width:233px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4202 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u4203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u4203 {
  position:absolute;
  left:385px;
  top:544px;
  width:76px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4204 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u4205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u4205 {
  position:absolute;
  left:385px;
  top:564px;
  width:76px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4206 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u4207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:21px;
}
#u4207 {
  position:absolute;
  left:364px;
  top:501px;
  width:261px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4208 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u4209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:21px;
}
#u4209 {
  position:absolute;
  left:385px;
  top:584px;
  width:104px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4210 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u4211 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:21px;
}
#u4212 {
  position:absolute;
  left:365px;
  top:1413px;
  width:217px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4213 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u4214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:21px;
}
#u4214 {
  position:absolute;
  left:365px;
  top:1472px;
  width:233px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4215 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u4216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u4216 {
  position:absolute;
  left:386px;
  top:1493px;
  width:76px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4217 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u4218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u4218 {
  position:absolute;
  left:386px;
  top:1513px;
  width:76px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4219 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u4220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:21px;
}
#u4220 {
  position:absolute;
  left:365px;
  top:1433px;
  width:261px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4221 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u4222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:21px;
}
#u4222 {
  position:absolute;
  left:386px;
  top:1533px;
  width:104px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4223 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u4224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:21px;
}
#u4224 {
  position:absolute;
  left:365px;
  top:1453px;
  width:275px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4225 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u4226 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:21px;
}
#u4227 {
  position:absolute;
  left:357px;
  top:2279px;
  width:217px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4228 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u4229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:21px;
}
#u4229 {
  position:absolute;
  left:357px;
  top:2299px;
  width:233px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4230 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u4231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u4231 {
  position:absolute;
  left:378px;
  top:2320px;
  width:76px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4232 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u4233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u4233 {
  position:absolute;
  left:378px;
  top:2340px;
  width:76px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4234 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u4235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:21px;
}
#u4235 {
  position:absolute;
  left:378px;
  top:2360px;
  width:104px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4236 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u4237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:63px;
}
#u4237 {
  position:absolute;
  left:1287px;
  top:551px;
  width:320px;
  height:62px;
}
#u4238 {
  position:absolute;
  left:2px;
  top:23px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u4239 {
  position:absolute;
  left:1260px;
  top:100px;
  width:379px;
  height:776px;
}
#u4240 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4241 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u4242 {
  position:absolute;
  left:1287px;
  top:208px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u4243 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u4244 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4245 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
}
#u4246 {
  position:absolute;
  left:1287px;
  top:208px;
  width:320px;
  height:41px;
}
#u4247 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u4248 {
  position:absolute;
  left:1421px;
  top:219px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u4249 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u4250 {
  position:absolute;
  left:1308px;
  top:219px;
  width:12px;
  height:20px;
}
#u4251 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:41px;
}
#u4252 {
  position:absolute;
  left:1481px;
  top:677px;
  width:92px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4253 {
  position:absolute;
  left:2px;
  top:9px;
  width:88px;
  word-wrap:break-word;
}
#u4254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:41px;
}
#u4254 {
  position:absolute;
  left:1321px;
  top:677px;
  width:92px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4255 {
  position:absolute;
  left:2px;
  top:9px;
  width:88px;
  word-wrap:break-word;
}
#u4256 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:129px;
}
#u4258 {
  position:absolute;
  left:1383px;
  top:286px;
  width:128px;
  height:128px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4259 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:115px;
}
#u4260 {
  position:absolute;
  left:1390px;
  top:293px;
  width:114px;
  height:114px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4261 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:129px;
}
#u4262 {
  position:absolute;
  left:1383px;
  top:286px;
  width:128px;
  height:128px;
}
#u4263 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:115px;
}
#u4264 {
  position:absolute;
  left:1390px;
  top:293px;
  width:114px;
  height:114px;
}
#u4265 {
  position:absolute;
  left:2px;
  top:49px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
}
#u4266 {
  position:absolute;
  left:1407px;
  top:336px;
  width:81px;
  height:28px;
  font-size:20px;
}
#u4267 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:106px;
}
#u4269 {
  position:absolute;
  left:813px;
  top:544px;
  width:300px;
  height:105px;
}
#u4270 {
  position:absolute;
  left:2px;
  top:44px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:35px;
}
#u4271 {
  position:absolute;
  left:824px;
  top:550px;
  width:29px;
  height:34px;
}
#u4272 {
  position:absolute;
  left:2px;
  top:9px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:26px;
}
#u4273 {
  position:absolute;
  left:877px;
  top:558px;
  width:32px;
  height:25px;
}
#u4274 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u4275 {
  position:absolute;
  left:935px;
  top:555px;
  width:30px;
  height:30px;
}
#u4276 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:31px;
}
#u4277 {
  position:absolute;
  left:983px;
  top:555px;
  width:26px;
  height:30px;
}
#u4278 {
  position:absolute;
  left:2px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u4279 {
  position:absolute;
  left:1030px;
  top:555px;
  width:30px;
  height:30px;
}
#u4280 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:31px;
}
#u4281 {
  position:absolute;
  left:1078px;
  top:555px;
  width:26px;
  height:30px;
}
#u4282 {
  position:absolute;
  left:2px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:35px;
}
#u4283 {
  position:absolute;
  left:824px;
  top:595px;
  width:29px;
  height:34px;
}
#u4284 {
  position:absolute;
  left:2px;
  top:9px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:26px;
}
#u4285 {
  position:absolute;
  left:877px;
  top:603px;
  width:32px;
  height:25px;
}
#u4286 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u4287 {
  position:absolute;
  left:935px;
  top:600px;
  width:30px;
  height:30px;
}
#u4288 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:31px;
}
#u4289 {
  position:absolute;
  left:983px;
  top:600px;
  width:26px;
  height:30px;
}
#u4290 {
  position:absolute;
  left:2px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u4291 {
  position:absolute;
  left:1030px;
  top:600px;
  width:30px;
  height:30px;
}
#u4292 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:31px;
}
#u4293 {
  position:absolute;
  left:1078px;
  top:600px;
  width:26px;
  height:30px;
}
#u4294 {
  position:absolute;
  left:2px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u4295 {
  position:absolute;
  left:823px;
  top:517px;
  width:71px;
  height:20px;
}
#u4296 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
