body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1902px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u13972 {
  position:absolute;
  left:300px;
  top:100px;
  width:379px;
  height:776px;
}
#u13973 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u13974 {
  position:absolute;
  left:327px;
  top:197px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u13975 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u13976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:35px;
}
#u13976 {
  position:absolute;
  left:327px;
  top:197px;
  width:320px;
  height:34px;
}
#u13977 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u13978 {
  position:absolute;
  left:460px;
  top:205px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13979 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u13980 {
  position:absolute;
  left:338px;
  top:206px;
  width:12px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u13981 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u13982 {
  position:absolute;
  left:339px;
  top:246px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13983 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13984 {
  position:absolute;
  left:337px;
  top:272px;
  width:300px;
  height:22px;
}
#u13984_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13984_input:disabled {
  color:grayText;
}
#u13985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:105px;
}
#u13986 {
  position:absolute;
  left:327px;
  top:315px;
  width:320px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13987 {
  position:absolute;
  left:2px;
  top:44px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u13988 {
  position:absolute;
  left:390px;
  top:332px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13989 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u13990 {
  position:absolute;
  left:341px;
  top:331px;
  width:26px;
  height:21px;
}
#u13991 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u13992 {
  position:absolute;
  left:596px;
  top:331px;
  width:32px;
  height:20px;
}
#u13993 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u13994 {
  position:absolute;
  left:390px;
  top:384px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13995 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u13996 {
  position:absolute;
  left:628px;
  top:385px;
  width:11px;
  height:19px;
}
#u13997 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
}
#u13998 {
  position:absolute;
  left:585px;
  top:384px;
  width:31px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u13999 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u14000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:105px;
}
#u14001 {
  position:absolute;
  left:327px;
  top:419px;
  width:320px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14002 {
  position:absolute;
  left:2px;
  top:44px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u14003 {
  position:absolute;
  left:390px;
  top:436px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14004 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u14005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u14005 {
  position:absolute;
  left:341px;
  top:435px;
  width:26px;
  height:21px;
}
#u14006 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u14007 {
  position:absolute;
  left:596px;
  top:435px;
  width:32px;
  height:20px;
}
#u14008 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u14009 {
  position:absolute;
  left:390px;
  top:488px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14010 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u14011 {
  position:absolute;
  left:628px;
  top:489px;
  width:11px;
  height:19px;
}
#u14012 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u14013 {
  position:absolute;
  left:585px;
  top:488px;
  width:25px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u14014 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14015_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:95px;
  height:25px;
}
#u14015 {
  position:absolute;
  left:637px;
  top:277px;
  width:83px;
  height:5px;
}
#u14016 {
  position:absolute;
  left:2px;
  top:-6px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:442px;
}
#u14017 {
  position:absolute;
  left:730px;
  top:264px;
  width:215px;
  height:431px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14018 {
  position:absolute;
  left:10px;
  top:10px;
  width:195px;
  word-wrap:break-word;
}
#u14019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:43px;
}
#u14019 {
  position:absolute;
  left:606px;
  top:193px;
  width:22px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u14020 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u14021_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:95px;
  height:25px;
}
#u14021 {
  position:absolute;
  left:637px;
  top:210px;
  width:83px;
  height:5px;
}
#u14022 {
  position:absolute;
  left:2px;
  top:-6px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:45px;
}
#u14023 {
  position:absolute;
  left:730px;
  top:191px;
  width:215px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14024 {
  position:absolute;
  left:10px;
  top:10px;
  width:195px;
  word-wrap:break-word;
}
#u14025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:116px;
}
#u14025 {
  position:absolute;
  left:730px;
  top:76px;
  width:232px;
  height:105px;
}
#u14026 {
  position:absolute;
  left:10px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u14027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:87px;
}
#u14028 {
  position:absolute;
  left:327px;
  top:523px;
  width:320px;
  height:86px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14029 {
  position:absolute;
  left:2px;
  top:35px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u14030 {
  position:absolute;
  left:390px;
  top:540px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14031 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u14032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u14032 {
  position:absolute;
  left:341px;
  top:539px;
  width:26px;
  height:21px;
}
#u14033 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u14034 {
  position:absolute;
  left:598px;
  top:542px;
  width:29px;
  height:18px;
}
#u14035 {
  position:absolute;
  left:2px;
  top:1px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:29px;
}
#u14036 {
  position:absolute;
  left:341px;
  top:566px;
  width:298px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u14037 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  white-space:nowrap;
}
#u14038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u14038 {
  position:absolute;
  left:1053px;
  top:100px;
  width:379px;
  height:776px;
}
#u14039 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u14040 {
  position:absolute;
  left:1080px;
  top:197px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u14041 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u14042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:35px;
}
#u14042 {
  position:absolute;
  left:1080px;
  top:197px;
  width:320px;
  height:34px;
}
#u14043 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u14044 {
  position:absolute;
  left:1213px;
  top:205px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14045 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u14046 {
  position:absolute;
  left:1091px;
  top:206px;
  width:12px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u14047 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u14048 {
  position:absolute;
  left:1092px;
  top:246px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14049 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14050 {
  position:absolute;
  left:1090px;
  top:272px;
  width:300px;
  height:22px;
}
#u14050_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14050_input:disabled {
  color:grayText;
}
#u14051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:105px;
}
#u14052 {
  position:absolute;
  left:1080px;
  top:315px;
  width:320px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14053 {
  position:absolute;
  left:2px;
  top:44px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u14054 {
  position:absolute;
  left:1143px;
  top:332px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14055 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u14056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u14056 {
  position:absolute;
  left:1094px;
  top:331px;
  width:26px;
  height:21px;
}
#u14057 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u14058 {
  position:absolute;
  left:1349px;
  top:331px;
  width:32px;
  height:20px;
}
#u14059 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u14060 {
  position:absolute;
  left:1143px;
  top:384px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14061 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u14062 {
  position:absolute;
  left:1381px;
  top:385px;
  width:11px;
  height:19px;
}
#u14063 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
}
#u14064 {
  position:absolute;
  left:1338px;
  top:384px;
  width:31px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u14065 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u14066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:105px;
}
#u14067 {
  position:absolute;
  left:1080px;
  top:419px;
  width:320px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14068 {
  position:absolute;
  left:2px;
  top:44px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u14069 {
  position:absolute;
  left:1143px;
  top:436px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14070 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u14071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u14071 {
  position:absolute;
  left:1094px;
  top:435px;
  width:26px;
  height:21px;
}
#u14072 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u14073 {
  position:absolute;
  left:1349px;
  top:435px;
  width:32px;
  height:20px;
}
#u14074 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u14075 {
  position:absolute;
  left:1143px;
  top:488px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14076 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u14077 {
  position:absolute;
  left:1381px;
  top:489px;
  width:11px;
  height:19px;
}
#u14078 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u14079 {
  position:absolute;
  left:1338px;
  top:488px;
  width:25px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u14080 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:43px;
}
#u14081 {
  position:absolute;
  left:1359px;
  top:193px;
  width:22px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u14082 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u14083 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:87px;
}
#u14084 {
  position:absolute;
  left:1080px;
  top:523px;
  width:320px;
  height:86px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14085 {
  position:absolute;
  left:2px;
  top:35px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u14086 {
  position:absolute;
  left:1143px;
  top:540px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14087 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u14088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u14088 {
  position:absolute;
  left:1094px;
  top:539px;
  width:26px;
  height:21px;
}
#u14089 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:29px;
}
#u14090 {
  position:absolute;
  left:1094px;
  top:566px;
  width:298px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u14091 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  white-space:nowrap;
}
#u14092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
}
#u14092 {
  position:absolute;
  left:1349px;
  top:533px;
  width:34px;
  height:21px;
}
#u14093 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14094 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14095 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:275px;
}
#u14096 {
  position:absolute;
  left:1090px;
  top:386px;
  width:300px;
  height:274px;
}
#u14097 {
  position:absolute;
  left:2px;
  top:129px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:56px;
}
#u14098 {
  position:absolute;
  left:1090px;
  top:384px;
  width:300px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u14099 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u14100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:41px;
}
#u14100 {
  position:absolute;
  left:1107px;
  top:488px;
  width:267px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14101 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u14102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u14102 {
  position:absolute;
  left:1120px;
  top:594px;
  width:105px;
  height:40px;
}
#u14103 {
  position:absolute;
  left:2px;
  top:11px;
  width:101px;
  word-wrap:break-word;
}
#u14104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
}
#u14104 {
  position:absolute;
  left:1252px;
  top:594px;
  width:111px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14105 {
  position:absolute;
  left:2px;
  top:11px;
  width:107px;
  word-wrap:break-word;
}
#u14106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:26px;
}
#u14106 {
  position:absolute;
  left:1159px;
  top:886px;
  width:163px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u14107 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u14108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u14108 {
  position:absolute;
  left:1523px;
  top:100px;
  width:379px;
  height:776px;
}
#u14109 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u14110 {
  position:absolute;
  left:1550px;
  top:197px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u14111 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u14112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:35px;
}
#u14112 {
  position:absolute;
  left:1550px;
  top:197px;
  width:320px;
  height:34px;
}
#u14113 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u14114 {
  position:absolute;
  left:1683px;
  top:205px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14115 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u14116 {
  position:absolute;
  left:1561px;
  top:206px;
  width:12px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u14117 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u14118 {
  position:absolute;
  left:1562px;
  top:246px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14119 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14120 {
  position:absolute;
  left:1560px;
  top:272px;
  width:300px;
  height:22px;
}
#u14120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14120_input:disabled {
  color:grayText;
}
#u14121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:105px;
}
#u14122 {
  position:absolute;
  left:1550px;
  top:315px;
  width:320px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14123 {
  position:absolute;
  left:2px;
  top:44px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u14124 {
  position:absolute;
  left:1613px;
  top:332px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14125 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u14126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u14126 {
  position:absolute;
  left:1564px;
  top:331px;
  width:26px;
  height:21px;
}
#u14127 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u14128 {
  position:absolute;
  left:1819px;
  top:331px;
  width:32px;
  height:20px;
}
#u14129 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u14130 {
  position:absolute;
  left:1613px;
  top:384px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14131 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u14132 {
  position:absolute;
  left:1851px;
  top:385px;
  width:11px;
  height:19px;
}
#u14133 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
}
#u14134 {
  position:absolute;
  left:1808px;
  top:384px;
  width:31px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u14135 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u14136 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:105px;
}
#u14137 {
  position:absolute;
  left:1550px;
  top:419px;
  width:320px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14138 {
  position:absolute;
  left:2px;
  top:44px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u14139 {
  position:absolute;
  left:1613px;
  top:436px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14140 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u14141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u14141 {
  position:absolute;
  left:1564px;
  top:435px;
  width:26px;
  height:21px;
}
#u14142 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u14143 {
  position:absolute;
  left:1819px;
  top:435px;
  width:32px;
  height:20px;
}
#u14144 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u14145 {
  position:absolute;
  left:1613px;
  top:488px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14146 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u14147 {
  position:absolute;
  left:1851px;
  top:489px;
  width:11px;
  height:19px;
}
#u14148 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u14149 {
  position:absolute;
  left:1808px;
  top:488px;
  width:25px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u14150 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:43px;
}
#u14151 {
  position:absolute;
  left:1829px;
  top:193px;
  width:22px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u14152 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u14153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:87px;
}
#u14154 {
  position:absolute;
  left:1550px;
  top:523px;
  width:320px;
  height:86px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14155 {
  position:absolute;
  left:2px;
  top:35px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u14156 {
  position:absolute;
  left:1613px;
  top:540px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14157 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u14158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u14158 {
  position:absolute;
  left:1564px;
  top:539px;
  width:26px;
  height:21px;
}
#u14159 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:29px;
}
#u14160 {
  position:absolute;
  left:1564px;
  top:566px;
  width:298px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u14161 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  white-space:nowrap;
}
#u14162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
}
#u14162 {
  position:absolute;
  left:1819px;
  top:533px;
  width:34px;
  height:21px;
}
#u14163 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:275px;
}
#u14166 {
  position:absolute;
  left:1560px;
  top:386px;
  width:300px;
  height:274px;
}
#u14167 {
  position:absolute;
  left:2px;
  top:129px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:56px;
}
#u14168 {
  position:absolute;
  left:1560px;
  top:384px;
  width:300px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u14169 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u14170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:41px;
}
#u14170 {
  position:absolute;
  left:1577px;
  top:488px;
  width:253px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14171 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u14172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u14172 {
  position:absolute;
  left:1590px;
  top:594px;
  width:105px;
  height:40px;
}
#u14173 {
  position:absolute;
  left:2px;
  top:11px;
  width:101px;
  word-wrap:break-word;
}
#u14174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:41px;
}
#u14174 {
  position:absolute;
  left:1722px;
  top:594px;
  width:111px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14175 {
  position:absolute;
  left:2px;
  top:11px;
  width:107px;
  word-wrap:break-word;
}
#u14176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:26px;
}
#u14176 {
  position:absolute;
  left:1650px;
  top:886px;
  width:127px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u14177 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
