body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u4 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  opacity:0.3;
}
#u6 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u7 {
  position:absolute;
  left:138px;
  top:129px;
  width:85px;
  height:40px;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7_ann {
  position:absolute;
  left:216px;
  top:125px;
  width:1px;
  height:1px;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:263px;
  top:30px;
  width:85px;
  height:20px;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:132px;
  top:455px;
  width:99px;
  height:20px;
  color:#FFFFFF;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  position:absolute;
  left:31px;
  top:213px;
  width:300px;
  height:170px;
}
#u14 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:60px;
  top:291px;
  width:242px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:60px;
  top:291px;
  width:207px;
  height:30px;
  overflow:hidden;
}
#u18_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
}
#u18_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u18_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u21 {
  position:absolute;
  left:273px;
  top:294px;
  width:21px;
  height:24px;
}
#u21_img.selected {
}
#u21.selected {
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:60px;
  top:245px;
  width:242px;
  height:30px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:30px;
  background-color:#CCCCCC;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u24 {
  position:absolute;
  left:60px;
  top:336px;
  width:57px;
  height:20px;
  color:#000000;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:245px;
  top:336px;
  width:57px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:73px;
}
#u28 {
  position:absolute;
  left:149px;
  top:347px;
  width:74px;
  height:73px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u30 {
  position:absolute;
  left:153px;
  top:351px;
  width:66px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31 {
  position:absolute;
  left:2px;
  top:24px;
  width:62px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u33 {
  position:absolute;
  left:60px;
  top:514px;
  width:60px;
  height:60px;
}
#u34 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u35 {
  position:absolute;
  left:73px;
  top:530px;
  width:35px;
  height:29px;
}
#u36 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u38 {
  position:absolute;
  left:156px;
  top:514px;
  width:60px;
  height:60px;
}
#u39 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u40 {
  position:absolute;
  left:173px;
  top:531px;
  width:26px;
  height:27px;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u43 {
  position:absolute;
  left:254px;
  top:514px;
  width:60px;
  height:60px;
}
#u44 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u45 {
  position:absolute;
  left:269px;
  top:532px;
  width:30px;
  height:24px;
}
#u46 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:2px;
}
#u47 {
  position:absolute;
  left:40px;
  top:465px;
  width:82px;
  height:1px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:2px;
}
#u49 {
  position:absolute;
  left:241px;
  top:465px;
  width:82px;
  height:1px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u55 {
  position:absolute;
  left:309px;
  top:2px;
  width:9px;
  height:8px;
  color:#FFFFFF;
}
#u56 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
  color:#FFFFFF;
}
#u57 {
  position:absolute;
  left:276px;
  top:2px;
  width:25px;
  height:8px;
  font-size:6px;
  color:#FFFFFF;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:7px;
}
#u59 {
  position:absolute;
  left:331px;
  top:3px;
  width:13px;
  height:7px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
  color:#FFFFFF;
}
#u61 {
  position:absolute;
  left:13px;
  top:1px;
  width:19px;
  height:8px;
  font-size:6px;
  color:#FFFFFF;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
