body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u17254 {
  position:absolute;
  left:300px;
  top:100px;
  width:379px;
  height:776px;
}
#u17255 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17256 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u17257 {
  position:absolute;
  left:327px;
  top:207px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u17258 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u17259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:35px;
}
#u17259 {
  position:absolute;
  left:327px;
  top:207px;
  width:320px;
  height:34px;
}
#u17260 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:416px;
}
#u17261 {
  position:absolute;
  left:327px;
  top:314px;
  width:320px;
  height:415px;
}
#u17262 {
  position:absolute;
  left:2px;
  top:200px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17263 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:188px;
}
#u17264 {
  position:absolute;
  left:338px;
  top:255px;
  width:300px;
  height:187px;
  opacity:0.5;
}
#u17265 {
  position:absolute;
  left:2px;
  top:86px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u17266 {
  position:absolute;
  left:459px;
  top:214px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17267 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u17268 {
  position:absolute;
  left:338px;
  top:215px;
  width:12px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u17269 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u17270 {
  position:absolute;
  left:614px;
  top:212px;
  width:22px;
  height:22px;
}
#u17271 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
