body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u16675 {
  position:absolute;
  left:300px;
  top:100px;
  width:379px;
  height:776px;
}
#u16676 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16677 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u16678 {
  position:absolute;
  left:327px;
  top:206px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u16679 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u16680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:35px;
}
#u16680 {
  position:absolute;
  left:327px;
  top:206px;
  width:320px;
  height:34px;
}
#u16681 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:416px;
}
#u16682 {
  position:absolute;
  left:327px;
  top:313px;
  width:320px;
  height:415px;
}
#u16683 {
  position:absolute;
  left:2px;
  top:200px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16685 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:332px;
}
#u16686 {
  position:absolute;
  left:375px;
  top:279px;
  width:262px;
  height:331px;
  opacity:0.5;
  color:#FFFFFF;
}
#u16687 {
  position:absolute;
  left:2px;
  top:158px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u16688 {
  position:absolute;
  left:466px;
  top:305px;
  width:82px;
  height:82px;
}
#u16689 {
  position:absolute;
  left:2px;
  top:33px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:49px;
}
#u16690 {
  position:absolute;
  left:487px;
  top:322px;
  width:41px;
  height:48px;
}
#u16691 {
  position:absolute;
  left:2px;
  top:16px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:29px;
}
#u16692 {
  position:absolute;
  left:496px;
  top:391px;
  width:41px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u16693 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u16694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:21px;
}
#u16694 {
  position:absolute;
  left:445px;
  top:421px;
  width:133px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16695 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u16696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:149px;
}
#u16696 {
  position:absolute;
  left:388px;
  top:450px;
  width:235px;
  height:148px;
  opacity:0.5;
  color:#FFFFFF;
}
#u16697 {
  position:absolute;
  left:2px;
  top:66px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u16698 {
  position:absolute;
  left:401px;
  top:458px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16699 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
}
#u16700 {
  position:absolute;
  left:401px;
  top:483px;
  width:141px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16701 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u16702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
}
#u16702 {
  position:absolute;
  left:401px;
  top:508px;
  width:141px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16703 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u16704 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:332px;
}
#u16705 {
  position:absolute;
  left:353px;
  top:279px;
  width:262px;
  height:331px;
  opacity:0.9;
  color:#FFFFFF;
}
#u16706 {
  position:absolute;
  left:2px;
  top:158px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u16707 {
  position:absolute;
  left:445px;
  top:305px;
  width:82px;
  height:82px;
}
#u16708 {
  position:absolute;
  left:2px;
  top:33px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:49px;
}
#u16709 {
  position:absolute;
  left:466px;
  top:322px;
  width:41px;
  height:48px;
}
#u16710 {
  position:absolute;
  left:2px;
  top:16px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:29px;
}
#u16711 {
  position:absolute;
  left:475px;
  top:391px;
  width:41px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u16712 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u16713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:21px;
}
#u16713 {
  position:absolute;
  left:424px;
  top:421px;
  width:133px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16714 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u16715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:149px;
}
#u16715 {
  position:absolute;
  left:367px;
  top:450px;
  width:235px;
  height:148px;
  opacity:0.5;
  color:#FFFFFF;
}
#u16716 {
  position:absolute;
  left:2px;
  top:66px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
}
#u16717 {
  position:absolute;
  left:380px;
  top:460px;
  width:141px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16718 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u16719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:21px;
}
#u16719 {
  position:absolute;
  left:380px;
  top:485px;
  width:197px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u16720 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u16721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:41px;
}
#u16721 {
  position:absolute;
  left:377px;
  top:642px;
  width:220px;
  height:40px;
  font-size:20px;
}
#u16722 {
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u16723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u16723 {
  position:absolute;
  left:338px;
  top:214px;
  width:12px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u16724 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u16725 {
  position:absolute;
  left:459px;
  top:213px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16726 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
