body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:836px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u12079 {
  position:absolute;
  left:457px;
  top:169px;
  width:379px;
  height:776px;
}
#u12080 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u12082 {
  position:absolute;
  left:484px;
  top:275px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u12083 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u12084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
}
#u12086 {
  position:absolute;
  left:484px;
  top:275px;
  width:320px;
  height:41px;
}
#u12087 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u12088 {
  position:absolute;
  left:616px;
  top:288px;
  width:57px;
  height:20px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u12089 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u12090 {
  position:absolute;
  left:505px;
  top:286px;
  width:12px;
  height:20px;
}
#u12091 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:53px;
}
#u12093 {
  position:absolute;
  left:489px;
  top:394px;
  width:297px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12094 {
  position:absolute;
  left:2px;
  top:18px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u12095 {
  position:absolute;
  left:551px;
  top:412px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12096 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u12097 {
  position:absolute;
  left:503px;
  top:410px;
  width:26px;
  height:21px;
}
#u12098 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u12099 {
  position:absolute;
  left:768px;
  top:412px;
  width:11px;
  height:19px;
}
#u12100 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
}
#u12101 {
  position:absolute;
  left:646px;
  top:410px;
  width:103px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u12102 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u12103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:53px;
}
#u12104 {
  position:absolute;
  left:489px;
  top:332px;
  width:297px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12105 {
  position:absolute;
  left:2px;
  top:18px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u12106 {
  position:absolute;
  left:551px;
  top:349px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12107 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u12108 {
  position:absolute;
  left:503px;
  top:348px;
  width:26px;
  height:21px;
}
#u12109 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u12110 {
  position:absolute;
  left:768px;
  top:350px;
  width:11px;
  height:19px;
}
#u12111 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:21px;
}
#u12112 {
  position:absolute;
  left:625px;
  top:348px;
  width:109px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u12113 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u12114 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
}
#u12115 {
  position:absolute;
  left:792px;
  top:375px;
  width:8px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12116 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u12117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u12117 {
  position:absolute;
  left:791px;
  top:387px;
  width:9px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12118 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u12119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u12119 {
  position:absolute;
  left:791px;
  top:399px;
  width:9px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12120 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u12121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u12121 {
  position:absolute;
  left:791px;
  top:410px;
  width:10px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12122 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u12123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u12123 {
  position:absolute;
  left:792px;
  top:424px;
  width:9px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12124 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u12125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u12125 {
  position:absolute;
  left:792px;
  top:436px;
  width:9px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12126 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u12127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
}
#u12127 {
  position:absolute;
  left:793px;
  top:448px;
  width:8px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12128 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u12129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:24px;
}
#u12129 {
  position:absolute;
  left:792px;
  top:460px;
  width:10px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12130 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u12131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12131 {
  position:absolute;
  left:763px;
  top:286px;
  width:23px;
  height:23px;
}
#u12132 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
