body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1426px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u13013 {
  position:absolute;
  left:300px;
  top:100px;
  width:379px;
  height:776px;
}
#u13014 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u13016 {
  position:absolute;
  left:327px;
  top:207px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u13017 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u13018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
}
#u13020 {
  position:absolute;
  left:327px;
  top:207px;
  width:320px;
  height:41px;
}
#u13021 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u13022 {
  position:absolute;
  left:459px;
  top:218px;
  width:57px;
  height:20px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u13023 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u13024 {
  position:absolute;
  left:348px;
  top:218px;
  width:12px;
  height:20px;
}
#u13025 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:53px;
}
#u13027 {
  position:absolute;
  left:327px;
  top:248px;
  width:320px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13028 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u13029 {
  position:absolute;
  left:390px;
  top:265px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13030 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u13031 {
  position:absolute;
  left:341px;
  top:264px;
  width:26px;
  height:21px;
}
#u13032 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u13033 {
  position:absolute;
  left:628px;
  top:266px;
  width:11px;
  height:19px;
}
#u13034 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u13035 {
  position:absolute;
  left:525px;
  top:264px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u13036 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u13037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:53px;
}
#u13038 {
  position:absolute;
  left:327px;
  top:352px;
  width:320px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13039 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u13040 {
  position:absolute;
  left:390px;
  top:369px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13041 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u13042 {
  position:absolute;
  left:341px;
  top:368px;
  width:26px;
  height:21px;
}
#u13043 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u13044 {
  position:absolute;
  left:628px;
  top:370px;
  width:11px;
  height:19px;
}
#u13045 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u13046 {
  position:absolute;
  left:525px;
  top:368px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u13047 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u13048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:53px;
}
#u13049 {
  position:absolute;
  left:327px;
  top:666px;
  width:320px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13050 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u13051 {
  position:absolute;
  left:390px;
  top:683px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13052 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u13053 {
  position:absolute;
  left:341px;
  top:682px;
  width:26px;
  height:21px;
}
#u13054 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u13055 {
  position:absolute;
  left:628px;
  top:684px;
  width:11px;
  height:19px;
}
#u13056 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:53px;
}
#u13058 {
  position:absolute;
  left:327px;
  top:718px;
  width:320px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13059 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u13060 {
  position:absolute;
  left:390px;
  top:735px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13061 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u13062 {
  position:absolute;
  left:341px;
  top:734px;
  width:26px;
  height:21px;
}
#u13063 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u13064 {
  position:absolute;
  left:628px;
  top:736px;
  width:11px;
  height:19px;
}
#u13065 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:53px;
}
#u13067 {
  position:absolute;
  left:327px;
  top:300px;
  width:320px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13068 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u13069 {
  position:absolute;
  left:390px;
  top:317px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13070 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u13071 {
  position:absolute;
  left:341px;
  top:316px;
  width:26px;
  height:21px;
}
#u13072 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u13073 {
  position:absolute;
  left:628px;
  top:318px;
  width:11px;
  height:19px;
}
#u13074 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u13075 {
  position:absolute;
  left:525px;
  top:316px;
  width:26px;
  height:21px;
}
#u13076 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:90px;
}
#u13078 {
  position:absolute;
  left:327px;
  top:404px;
  width:320px;
  height:89px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13079 {
  position:absolute;
  left:2px;
  top:36px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u13080 {
  position:absolute;
  left:390px;
  top:421px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13081 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u13082 {
  position:absolute;
  left:341px;
  top:420px;
  width:26px;
  height:21px;
}
#u13083 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u13084 {
  position:absolute;
  left:596px;
  top:420px;
  width:32px;
  height:20px;
}
#u13085 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u13086 {
  position:absolute;
  left:390px;
  top:459px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13087 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u13088 {
  position:absolute;
  left:628px;
  top:460px;
  width:11px;
  height:19px;
}
#u13089 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:21px;
}
#u13090 {
  position:absolute;
  left:585px;
  top:459px;
  width:33px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u13091 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:88px;
}
#u13093 {
  position:absolute;
  left:327px;
  top:493px;
  width:320px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13094 {
  position:absolute;
  left:2px;
  top:36px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u13095 {
  position:absolute;
  left:390px;
  top:510px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13096 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u13097 {
  position:absolute;
  left:341px;
  top:509px;
  width:26px;
  height:21px;
}
#u13098 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u13099 {
  position:absolute;
  left:596px;
  top:509px;
  width:32px;
  height:20px;
}
#u13100 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u13101 {
  position:absolute;
  left:390px;
  top:548px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13102 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u13103 {
  position:absolute;
  left:628px;
  top:549px;
  width:11px;
  height:19px;
}
#u13104 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u13105 {
  position:absolute;
  left:585px;
  top:548px;
  width:25px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u13106 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13107 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:87px;
}
#u13108 {
  position:absolute;
  left:327px;
  top:580px;
  width:320px;
  height:86px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13109 {
  position:absolute;
  left:2px;
  top:35px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u13110 {
  position:absolute;
  left:390px;
  top:597px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13111 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u13112 {
  position:absolute;
  left:341px;
  top:596px;
  width:26px;
  height:21px;
}
#u13113 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u13114 {
  position:absolute;
  left:598px;
  top:599px;
  width:29px;
  height:18px;
}
#u13115 {
  position:absolute;
  left:2px;
  top:1px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:29px;
}
#u13116 {
  position:absolute;
  left:341px;
  top:623px;
  width:298px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u13117 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  white-space:nowrap;
}
#u13118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u13118 {
  position:absolute;
  left:720px;
  top:100px;
  width:379px;
  height:776px;
}
#u13119 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u13121 {
  position:absolute;
  left:747px;
  top:207px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u13122 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u13123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
}
#u13125 {
  position:absolute;
  left:747px;
  top:207px;
  width:320px;
  height:41px;
}
#u13126 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u13127 {
  position:absolute;
  left:879px;
  top:218px;
  width:57px;
  height:20px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u13128 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u13129 {
  position:absolute;
  left:768px;
  top:218px;
  width:12px;
  height:20px;
}
#u13130 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13131 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:53px;
}
#u13132 {
  position:absolute;
  left:747px;
  top:248px;
  width:320px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13133 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u13134 {
  position:absolute;
  left:810px;
  top:265px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13135 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u13136 {
  position:absolute;
  left:761px;
  top:264px;
  width:26px;
  height:21px;
}
#u13137 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u13138 {
  position:absolute;
  left:1048px;
  top:266px;
  width:11px;
  height:19px;
}
#u13139 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u13140 {
  position:absolute;
  left:945px;
  top:264px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u13141 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u13142 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:53px;
}
#u13143 {
  position:absolute;
  left:747px;
  top:562px;
  width:320px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13144 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u13145 {
  position:absolute;
  left:810px;
  top:579px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13146 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u13147 {
  position:absolute;
  left:761px;
  top:578px;
  width:26px;
  height:21px;
}
#u13148 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u13149 {
  position:absolute;
  left:1048px;
  top:580px;
  width:11px;
  height:19px;
}
#u13150 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13151 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:53px;
}
#u13152 {
  position:absolute;
  left:747px;
  top:614px;
  width:320px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13153 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u13154 {
  position:absolute;
  left:810px;
  top:631px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13155 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u13156 {
  position:absolute;
  left:761px;
  top:630px;
  width:26px;
  height:21px;
}
#u13157 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u13158 {
  position:absolute;
  left:1048px;
  top:632px;
  width:11px;
  height:19px;
}
#u13159 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:90px;
}
#u13161 {
  position:absolute;
  left:747px;
  top:300px;
  width:320px;
  height:89px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13162 {
  position:absolute;
  left:2px;
  top:36px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u13163 {
  position:absolute;
  left:810px;
  top:317px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13164 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u13165 {
  position:absolute;
  left:761px;
  top:316px;
  width:26px;
  height:21px;
}
#u13166 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u13167 {
  position:absolute;
  left:1016px;
  top:316px;
  width:32px;
  height:20px;
}
#u13168 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u13169 {
  position:absolute;
  left:810px;
  top:355px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13170 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u13171 {
  position:absolute;
  left:1048px;
  top:356px;
  width:11px;
  height:19px;
}
#u13172 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:21px;
}
#u13173 {
  position:absolute;
  left:1005px;
  top:355px;
  width:33px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u13174 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13175 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:88px;
}
#u13176 {
  position:absolute;
  left:747px;
  top:389px;
  width:320px;
  height:87px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13177 {
  position:absolute;
  left:2px;
  top:36px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u13178 {
  position:absolute;
  left:810px;
  top:406px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13179 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u13180 {
  position:absolute;
  left:761px;
  top:405px;
  width:26px;
  height:21px;
}
#u13181 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u13182 {
  position:absolute;
  left:1016px;
  top:405px;
  width:32px;
  height:20px;
}
#u13183 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u13184 {
  position:absolute;
  left:810px;
  top:444px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13185 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u13186 {
  position:absolute;
  left:1048px;
  top:445px;
  width:11px;
  height:19px;
}
#u13187 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u13188 {
  position:absolute;
  left:1005px;
  top:444px;
  width:25px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u13189 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:87px;
}
#u13191 {
  position:absolute;
  left:747px;
  top:476px;
  width:320px;
  height:86px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13192 {
  position:absolute;
  left:2px;
  top:35px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u13193 {
  position:absolute;
  left:810px;
  top:493px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13194 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u13195 {
  position:absolute;
  left:761px;
  top:492px;
  width:26px;
  height:21px;
}
#u13196 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u13197 {
  position:absolute;
  left:1018px;
  top:495px;
  width:29px;
  height:18px;
}
#u13198 {
  position:absolute;
  left:2px;
  top:1px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:29px;
}
#u13199 {
  position:absolute;
  left:761px;
  top:519px;
  width:298px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u13200 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  white-space:nowrap;
}
#u13201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u13201 {
  position:absolute;
  left:837px;
  top:715px;
  width:140px;
  height:40px;
}
#u13202 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u13203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:161px;
}
#u13203 {
  position:absolute;
  left:1166px;
  top:264px;
  width:198px;
  height:150px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13204 {
  position:absolute;
  left:10px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u13205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:161px;
}
#u13205 {
  position:absolute;
  left:1166px;
  top:104px;
  width:260px;
  height:150px;
}
#u13206 {
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
