body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u13945 {
  position:absolute;
  left:300px;
  top:100px;
  width:379px;
  height:776px;
}
#u13946 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u13947 {
  position:absolute;
  left:327px;
  top:197px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u13948 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u13949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:35px;
}
#u13949 {
  position:absolute;
  left:327px;
  top:197px;
  width:320px;
  height:34px;
}
#u13950 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u13951 {
  position:absolute;
  left:459px;
  top:204px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13952 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u13953 {
  position:absolute;
  left:338px;
  top:206px;
  width:12px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u13954 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:43px;
}
#u13955 {
  position:absolute;
  left:606px;
  top:193px;
  width:22px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u13956 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u13957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:53px;
}
#u13958 {
  position:absolute;
  left:327px;
  top:231px;
  width:320px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13959 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u13960 {
  position:absolute;
  left:390px;
  top:248px;
  width:20px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13961 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u13962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u13962 {
  position:absolute;
  left:341px;
  top:247px;
  width:26px;
  height:21px;
}
#u13963 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u13964 {
  position:absolute;
  left:628px;
  top:249px;
  width:11px;
  height:19px;
}
#u13965 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u13966 {
  position:absolute;
  left:589px;
  top:249px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13967 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:161px;
}
#u13968 {
  position:absolute;
  left:708px;
  top:231px;
  width:150px;
  height:150px;
}
#u13969 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u13970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:116px;
}
#u13970 {
  position:absolute;
  left:708px;
  top:100px;
  width:232px;
  height:105px;
}
#u13971 {
  position:absolute;
  left:10px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
