body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u11997 {
  position:absolute;
  left:300px;
  top:100px;
  width:379px;
  height:776px;
}
#u11998 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u12000 {
  position:absolute;
  left:327px;
  top:206px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u12001 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u12002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
}
#u12004 {
  position:absolute;
  left:327px;
  top:206px;
  width:320px;
  height:41px;
}
#u12005 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u12006 {
  position:absolute;
  left:459px;
  top:217px;
  width:57px;
  height:20px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u12007 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u12008 {
  position:absolute;
  left:348px;
  top:217px;
  width:12px;
  height:20px;
}
#u12009 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:73px;
}
#u12011 {
  position:absolute;
  left:327px;
  top:702px;
  width:320px;
  height:72px;
}
#u12012 {
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
}
#u12013 {
  position:absolute;
  left:383px;
  top:740px;
  width:44px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12014 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u12015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
}
#u12015 {
  position:absolute;
  left:547px;
  top:740px;
  width:70px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#800080;
}
#u12016 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u12017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:30px;
}
#u12017 {
  position:absolute;
  left:477px;
  top:717px;
  width:20px;
  height:29px;
}
#u12018 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u12019 {
  position:absolute;
  left:417px;
  top:251px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12020 {
  position:absolute;
  left:2px;
  top:1px;
  width:66px;
  word-wrap:break-word;
}
#u12021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u12021 {
  position:absolute;
  left:487px;
  top:251px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u12022 {
  position:absolute;
  left:2px;
  top:1px;
  width:66px;
  word-wrap:break-word;
}
#u12023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u12023 {
  position:absolute;
  left:338px;
  top:280px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12024 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u12025 {
  position:absolute;
  left:338px;
  top:370px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12026 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:53px;
}
#u12028 {
  position:absolute;
  left:327px;
  top:400px;
  width:297px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12029 {
  position:absolute;
  left:2px;
  top:18px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u12030 {
  position:absolute;
  left:389px;
  top:417px;
  width:57px;
  height:20px;
}
#u12031 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u12032 {
  position:absolute;
  left:341px;
  top:416px;
  width:26px;
  height:21px;
}
#u12033 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u12034 {
  position:absolute;
  left:606px;
  top:418px;
  width:11px;
  height:19px;
}
#u12035 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u12036 {
  position:absolute;
  left:517px;
  top:416px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u12037 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:53px;
}
#u12039 {
  position:absolute;
  left:327px;
  top:452px;
  width:297px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12040 {
  position:absolute;
  left:2px;
  top:18px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u12041 {
  position:absolute;
  left:389px;
  top:470px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12042 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u12043 {
  position:absolute;
  left:341px;
  top:468px;
  width:26px;
  height:21px;
}
#u12044 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u12045 {
  position:absolute;
  left:606px;
  top:470px;
  width:11px;
  height:19px;
}
#u12046 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u12047 {
  position:absolute;
  left:517px;
  top:468px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u12048 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:53px;
}
#u12050 {
  position:absolute;
  left:327px;
  top:309px;
  width:297px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12051 {
  position:absolute;
  left:2px;
  top:18px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u12052 {
  position:absolute;
  left:389px;
  top:326px;
  width:71px;
  height:20px;
}
#u12053 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u12054 {
  position:absolute;
  left:341px;
  top:325px;
  width:26px;
  height:21px;
}
#u12055 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u12056 {
  position:absolute;
  left:606px;
  top:327px;
  width:11px;
  height:19px;
}
#u12057 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u12058 {
  position:absolute;
  left:517px;
  top:325px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u12059 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
}
#u12061 {
  position:absolute;
  left:635px;
  top:306px;
  width:8px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12062 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u12063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u12063 {
  position:absolute;
  left:634px;
  top:318px;
  width:9px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12064 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u12065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u12065 {
  position:absolute;
  left:634px;
  top:330px;
  width:9px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12066 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u12067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u12067 {
  position:absolute;
  left:634px;
  top:341px;
  width:10px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12068 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u12069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u12069 {
  position:absolute;
  left:635px;
  top:355px;
  width:9px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12070 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u12071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u12071 {
  position:absolute;
  left:635px;
  top:367px;
  width:9px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12072 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u12073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
}
#u12073 {
  position:absolute;
  left:636px;
  top:379px;
  width:8px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12074 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u12075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:24px;
}
#u12075 {
  position:absolute;
  left:635px;
  top:391px;
  width:10px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12076 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u12077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12077 {
  position:absolute;
  left:606px;
  top:217px;
  width:23px;
  height:23px;
}
#u12078 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
