body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u16828 {
  position:absolute;
  left:300px;
  top:100px;
  width:379px;
  height:776px;
}
#u16829 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16830 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u16831 {
  position:absolute;
  left:327px;
  top:206px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u16832 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u16833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:35px;
}
#u16833 {
  position:absolute;
  left:327px;
  top:206px;
  width:320px;
  height:34px;
}
#u16834 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:73px;
}
#u16835 {
  position:absolute;
  left:327px;
  top:702px;
  width:320px;
  height:72px;
}
#u16836 {
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u16837 {
  position:absolute;
  left:349px;
  top:740px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u16838 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u16839 {
  position:absolute;
  left:409px;
  top:740px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u16840 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u16841 {
  position:absolute;
  left:529px;
  top:740px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#800080;
}
#u16842 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u16843 {
  position:absolute;
  left:593px;
  top:741px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u16844 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:30px;
}
#u16845 {
  position:absolute;
  left:477px;
  top:717px;
  width:20px;
  height:29px;
}
#u16846 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16847 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:53px;
}
#u16848 {
  position:absolute;
  left:328px;
  top:240px;
  width:320px;
  height:52px;
}
#u16849 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u16850 {
  position:absolute;
  left:391px;
  top:258px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16851 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
}
#u16852 {
  position:absolute;
  left:604px;
  top:258px;
  width:17px;
  height:22px;
}
#u16853 {
  position:absolute;
  left:2px;
  top:3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:33px;
}
#u16854 {
  position:absolute;
  left:351px;
  top:251px;
  width:22px;
  height:32px;
}
#u16855 {
  position:absolute;
  left:2px;
  top:8px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16856 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:53px;
}
#u16857 {
  position:absolute;
  left:328px;
  top:292px;
  width:320px;
  height:52px;
}
#u16858 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u16859 {
  position:absolute;
  left:391px;
  top:310px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16860 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
}
#u16861 {
  position:absolute;
  left:604px;
  top:310px;
  width:17px;
  height:22px;
}
#u16862 {
  position:absolute;
  left:2px;
  top:3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u16863 {
  position:absolute;
  left:349px;
  top:307px;
  width:29px;
  height:21px;
}
#u16864 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:53px;
}
#u16866 {
  position:absolute;
  left:328px;
  top:344px;
  width:320px;
  height:52px;
}
#u16867 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u16868 {
  position:absolute;
  left:391px;
  top:362px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16869 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u16870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
}
#u16870 {
  position:absolute;
  left:604px;
  top:362px;
  width:17px;
  height:22px;
}
#u16871 {
  position:absolute;
  left:2px;
  top:3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u16872 {
  position:absolute;
  left:344px;
  top:358px;
  width:30px;
  height:25px;
}
#u16873 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u16874 {
  position:absolute;
  left:459px;
  top:213px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16875 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u16876 {
  position:absolute;
  left:338px;
  top:214px;
  width:12px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u16877 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
