body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u1908 {
  position:absolute;
  left:300px;
  top:100px;
  width:379px;
  height:776px;
}
#u1909 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u1911 {
  position:absolute;
  left:327px;
  top:206px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u1912 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u1913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
}
#u1915 {
  position:absolute;
  left:327px;
  top:206px;
  width:320px;
  height:41px;
}
#u1916 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u1917 {
  position:absolute;
  left:445px;
  top:217px;
  width:85px;
  height:20px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u1918 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u1919 {
  position:absolute;
  left:348px;
  top:217px;
  width:12px;
  height:20px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u1921 {
  position:absolute;
  left:339px;
  top:275px;
  width:85px;
  height:20px;
}
#u1922 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1923 {
  position:absolute;
  left:337px;
  top:301px;
  width:300px;
  height:22px;
}
#u1923_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1923_input:disabled {
  color:grayText;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:21px;
}
#u1924 {
  position:absolute;
  left:339px;
  top:343px;
  width:84px;
  height:20px;
}
#u1925 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u1926 {
  position:absolute;
  left:337px;
  top:369px;
  width:300px;
  height:22px;
}
#u1926_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1926_input:disabled {
  color:grayText;
}
