body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u17364 {
  position:absolute;
  left:300px;
  top:100px;
  width:379px;
  height:776px;
}
#u17365 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17366 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u17367 {
  position:absolute;
  left:327px;
  top:207px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u17368 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u17369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:35px;
}
#u17369 {
  position:absolute;
  left:327px;
  top:207px;
  width:320px;
  height:34px;
}
#u17370 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:73px;
}
#u17371 {
  position:absolute;
  left:327px;
  top:703px;
  width:320px;
  height:72px;
}
#u17372 {
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u17373 {
  position:absolute;
  left:349px;
  top:741px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u17374 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u17375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u17375 {
  position:absolute;
  left:409px;
  top:741px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u17376 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u17377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u17377 {
  position:absolute;
  left:529px;
  top:741px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#800080;
}
#u17378 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u17379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u17379 {
  position:absolute;
  left:593px;
  top:742px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u17380 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u17381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:30px;
}
#u17381 {
  position:absolute;
  left:477px;
  top:718px;
  width:20px;
  height:29px;
}
#u17382 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17383 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:244px;
}
#u17384 {
  position:absolute;
  left:337px;
  top:420px;
  width:300px;
  height:243px;
  opacity:0.5;
}
#u17385 {
  position:absolute;
  left:2px;
  top:114px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:163px;
}
#u17386 {
  position:absolute;
  left:351px;
  top:447px;
  width:277px;
  height:162px;
  color:#FFFFFF;
}
#u17387 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u17388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u17388 {
  position:absolute;
  left:473px;
  top:215px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17389 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u17390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u17390 {
  position:absolute;
  left:338px;
  top:215px;
  width:12px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u17391 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:111px;
}
#u17392 {
  position:absolute;
  left:338px;
  top:274px;
  width:299px;
  height:111px;
}
#u17393 {
  position:absolute;
  left:2px;
  top:48px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
