body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u14838 {
  position:absolute;
  left:300px;
  top:100px;
  width:379px;
  height:776px;
}
#u14839 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14840 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u14841 {
  position:absolute;
  left:327px;
  top:207px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u14842 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u14843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:73px;
}
#u14843 {
  position:absolute;
  left:327px;
  top:703px;
  width:320px;
  height:72px;
}
#u14844 {
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u14845 {
  position:absolute;
  left:349px;
  top:741px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u14846 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u14847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u14847 {
  position:absolute;
  left:409px;
  top:741px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#800080;
}
#u14848 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u14849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u14849 {
  position:absolute;
  left:529px;
  top:741px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u14850 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u14851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u14851 {
  position:absolute;
  left:593px;
  top:742px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u14852 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u14853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:30px;
}
#u14853 {
  position:absolute;
  left:477px;
  top:718px;
  width:20px;
  height:29px;
}
#u14854 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u14855 {
  position:absolute;
  left:409px;
  top:221px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14856 {
  position:absolute;
  left:2px;
  top:1px;
  width:66px;
  word-wrap:break-word;
}
#u14857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u14857 {
  position:absolute;
  left:479px;
  top:221px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u14858 {
  position:absolute;
  left:2px;
  top:1px;
  width:66px;
  word-wrap:break-word;
}
#u14859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u14859 {
  position:absolute;
  left:612px;
  top:225px;
  width:12px;
  height:12px;
}
#u14860 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u14861 {
  position:absolute;
  left:381px;
  top:585px;
  width:65px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u14862 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u14863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u14863 {
  position:absolute;
  left:526px;
  top:585px;
  width:65px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u14864 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u14865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:78px;
}
#u14866 {
  position:absolute;
  left:327px;
  top:253px;
  width:320px;
  height:77px;
}
#u14867 {
  position:absolute;
  left:2px;
  top:30px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u14868 {
  position:absolute;
  left:408px;
  top:268px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u14869 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u14870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
}
#u14870 {
  position:absolute;
  left:595px;
  top:280px;
  width:41px;
  height:24px;
  color:#515151;
}
#u14871 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u14872 {
  position:absolute;
  left:347px;
  top:270px;
  width:40px;
  height:40px;
}
#u14873 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:15px;
}
#u14874 {
  position:absolute;
  left:409px;
  top:290px;
  width:121px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
}
#u14875 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u14876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
}
#u14876 {
  position:absolute;
  left:409px;
  top:304px;
  width:97px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
}
#u14877 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u14878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:78px;
}
#u14879 {
  position:absolute;
  left:327px;
  top:330px;
  width:320px;
  height:77px;
}
#u14880 {
  position:absolute;
  left:2px;
  top:30px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u14881 {
  position:absolute;
  left:408px;
  top:345px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u14882 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u14883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
}
#u14883 {
  position:absolute;
  left:595px;
  top:357px;
  width:41px;
  height:24px;
  color:#515151;
}
#u14884 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u14885 {
  position:absolute;
  left:345px;
  top:347px;
  width:40px;
  height:40px;
}
#u14886 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:15px;
}
#u14887 {
  position:absolute;
  left:409px;
  top:367px;
  width:83px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
}
#u14888 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u14889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
}
#u14889 {
  position:absolute;
  left:409px;
  top:381px;
  width:97px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#CCCCCC;
}
#u14890 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
