body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u11946 {
  position:absolute;
  left:300px;
  top:100px;
  width:379px;
  height:776px;
}
#u11947 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u11949 {
  position:absolute;
  left:327px;
  top:206px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u11950 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u11951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
}
#u11953 {
  position:absolute;
  left:327px;
  top:206px;
  width:320px;
  height:41px;
}
#u11954 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u11955 {
  position:absolute;
  left:461px;
  top:217px;
  width:57px;
  height:20px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u11956 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u11957 {
  position:absolute;
  left:348px;
  top:217px;
  width:12px;
  height:20px;
}
#u11958 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:73px;
}
#u11960 {
  position:absolute;
  left:327px;
  top:702px;
  width:320px;
  height:72px;
}
#u11961 {
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:23px;
}
#u11962 {
  position:absolute;
  left:383px;
  top:740px;
  width:44px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11963 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u11964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
}
#u11964 {
  position:absolute;
  left:547px;
  top:740px;
  width:70px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#800080;
}
#u11965 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u11966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:30px;
}
#u11966 {
  position:absolute;
  left:477px;
  top:717px;
  width:20px;
  height:29px;
}
#u11967 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u11968 {
  position:absolute;
  left:417px;
  top:251px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u11969 {
  position:absolute;
  left:2px;
  top:1px;
  width:66px;
  word-wrap:break-word;
}
#u11970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u11970 {
  position:absolute;
  left:487px;
  top:251px;
  width:70px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11971 {
  position:absolute;
  left:2px;
  top:1px;
  width:66px;
  word-wrap:break-word;
}
#u11972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:21px;
}
#u11972 {
  position:absolute;
  left:383px;
  top:329px;
  width:190px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11973 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u11974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
}
#u11975 {
  position:absolute;
  left:635px;
  top:306px;
  width:8px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11976 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u11977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u11977 {
  position:absolute;
  left:634px;
  top:318px;
  width:9px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11978 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u11979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u11979 {
  position:absolute;
  left:634px;
  top:330px;
  width:9px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11980 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u11981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u11981 {
  position:absolute;
  left:634px;
  top:341px;
  width:10px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11982 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u11983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u11983 {
  position:absolute;
  left:635px;
  top:355px;
  width:9px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11984 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u11985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u11985 {
  position:absolute;
  left:635px;
  top:367px;
  width:9px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11986 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u11987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:18px;
}
#u11987 {
  position:absolute;
  left:636px;
  top:379px;
  width:8px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11988 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u11989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:24px;
}
#u11989 {
  position:absolute;
  left:635px;
  top:391px;
  width:10px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u11990 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u11991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u11991 {
  position:absolute;
  left:606px;
  top:217px;
  width:23px;
  height:23px;
}
#u11992 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:21px;
}
#u11993 {
  position:absolute;
  left:383px;
  top:309px;
  width:190px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11994 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u11995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:21px;
}
#u11995 {
  position:absolute;
  left:383px;
  top:349px;
  width:190px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11996 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
