body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u12205 {
  position:absolute;
  left:300px;
  top:100px;
  width:379px;
  height:776px;
}
#u12206 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12207 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u12208 {
  position:absolute;
  left:327px;
  top:206px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u12209 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u12210 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12211 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
}
#u12212 {
  position:absolute;
  left:327px;
  top:206px;
  width:320px;
  height:41px;
}
#u12213 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u12214 {
  position:absolute;
  left:445px;
  top:217px;
  width:85px;
  height:20px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u12215 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u12216 {
  position:absolute;
  left:348px;
  top:217px;
  width:12px;
  height:20px;
}
#u12217 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:53px;
}
#u12219 {
  position:absolute;
  left:327px;
  top:247px;
  width:320px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12220 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u12221 {
  position:absolute;
  left:389px;
  top:264px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12222 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u12223 {
  position:absolute;
  left:341px;
  top:263px;
  width:26px;
  height:21px;
}
#u12224 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u12225 {
  position:absolute;
  left:627px;
  top:265px;
  width:11px;
  height:19px;
}
#u12226 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u12227 {
  position:absolute;
  left:524px;
  top:263px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u12228 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:53px;
}
#u12230 {
  position:absolute;
  left:327px;
  top:351px;
  width:320px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12231 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u12232 {
  position:absolute;
  left:389px;
  top:368px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12233 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u12234 {
  position:absolute;
  left:341px;
  top:367px;
  width:26px;
  height:21px;
}
#u12235 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u12236 {
  position:absolute;
  left:627px;
  top:369px;
  width:11px;
  height:19px;
}
#u12237 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u12238 {
  position:absolute;
  left:524px;
  top:367px;
  width:60px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u12239 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12240 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:53px;
}
#u12241 {
  position:absolute;
  left:327px;
  top:403px;
  width:320px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12242 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u12243 {
  position:absolute;
  left:389px;
  top:420px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12244 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u12245 {
  position:absolute;
  left:341px;
  top:419px;
  width:26px;
  height:21px;
}
#u12246 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u12247 {
  position:absolute;
  left:627px;
  top:421px;
  width:11px;
  height:19px;
}
#u12248 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
}
#u12249 {
  position:absolute;
  left:503px;
  top:419px;
  width:103px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC00;
}
#u12250 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u12251 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:53px;
}
#u12252 {
  position:absolute;
  left:327px;
  top:455px;
  width:320px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12253 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u12254 {
  position:absolute;
  left:389px;
  top:472px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12255 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u12256 {
  position:absolute;
  left:341px;
  top:471px;
  width:26px;
  height:21px;
}
#u12257 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u12258 {
  position:absolute;
  left:627px;
  top:473px;
  width:11px;
  height:19px;
}
#u12259 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12260 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:53px;
}
#u12261 {
  position:absolute;
  left:327px;
  top:507px;
  width:320px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12262 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u12263 {
  position:absolute;
  left:389px;
  top:524px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12264 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u12265 {
  position:absolute;
  left:341px;
  top:523px;
  width:26px;
  height:21px;
}
#u12266 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u12267 {
  position:absolute;
  left:627px;
  top:525px;
  width:11px;
  height:19px;
}
#u12268 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12269 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:53px;
}
#u12270 {
  position:absolute;
  left:327px;
  top:299px;
  width:320px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12271 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u12272 {
  position:absolute;
  left:389px;
  top:316px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12273 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u12274 {
  position:absolute;
  left:341px;
  top:315px;
  width:26px;
  height:21px;
}
#u12275 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u12276 {
  position:absolute;
  left:627px;
  top:317px;
  width:11px;
  height:19px;
}
#u12277 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u12278 {
  position:absolute;
  left:524px;
  top:315px;
  width:26px;
  height:21px;
}
#u12279 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
