body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u1613 {
  position:absolute;
  left:300px;
  top:100px;
  width:379px;
  height:776px;
}
#u1614 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1615 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u1616 {
  position:absolute;
  left:326px;
  top:205px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u1617 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u1618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:35px;
}
#u1618 {
  position:absolute;
  left:326px;
  top:205px;
  width:320px;
  height:34px;
}
#u1619 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u1620 {
  position:absolute;
  left:458px;
  top:212px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1621 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u1622 {
  position:absolute;
  left:337px;
  top:213px;
  width:12px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1623 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1624 {
  position:absolute;
  left:337px;
  top:249px;
  width:300px;
  height:25px;
}
#u1624_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u1625 {
  position:absolute;
  left:337px;
  top:338px;
  width:73px;
  height:17px;
  font-size:12px;
}
#u1626 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
}
#u1627 {
  position:absolute;
  left:337px;
  top:365px;
  width:73px;
  height:21px;
  color:#1E1E1E;
}
#u1628 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u1629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u1629 {
  position:absolute;
  left:337px;
  top:396px;
  width:85px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1630 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
}
#u1631 {
  position:absolute;
  left:337px;
  top:423px;
  width:73px;
  height:21px;
  color:#1E1E1E;
}
#u1632 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u1633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:27px;
}
#u1633 {
  position:absolute;
  left:365px;
  top:302px;
  width:17px;
  height:26px;
}
#u1634 {
  position:absolute;
  left:2px;
  top:5px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
}
#u1635 {
  position:absolute;
  left:618px;
  top:309px;
  width:22px;
  height:24px;
  color:#666666;
}
#u1636 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
}
#u1637 {
  position:absolute;
  left:337px;
  top:282px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u1638 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
