body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u16134 {
  position:absolute;
  left:300px;
  top:100px;
  width:379px;
  height:776px;
}
#u16135 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16136 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u16137 {
  position:absolute;
  left:327px;
  top:207px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u16138 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u16139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:35px;
}
#u16139 {
  position:absolute;
  left:327px;
  top:207px;
  width:320px;
  height:34px;
}
#u16140 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:73px;
}
#u16141 {
  position:absolute;
  left:327px;
  top:703px;
  width:320px;
  height:72px;
}
#u16142 {
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:416px;
}
#u16143 {
  position:absolute;
  left:327px;
  top:314px;
  width:320px;
  height:415px;
}
#u16144 {
  position:absolute;
  left:2px;
  top:200px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u16145 {
  position:absolute;
  left:349px;
  top:741px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u16146 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u16147 {
  position:absolute;
  left:409px;
  top:741px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u16148 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u16149 {
  position:absolute;
  left:529px;
  top:741px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#800080;
}
#u16150 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u16151 {
  position:absolute;
  left:593px;
  top:742px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u16152 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:30px;
}
#u16153 {
  position:absolute;
  left:477px;
  top:718px;
  width:20px;
  height:29px;
}
#u16154 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u16155 {
  position:absolute;
  left:466px;
  top:214px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16156 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u16157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u16157 {
  position:absolute;
  left:338px;
  top:215px;
  width:12px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#FFFFFF;
}
#u16158 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16159 {
  position:absolute;
  left:327px;
  top:268px;
  width:321px;
  height:171px;
  overflow:hidden;
}
#u16159_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:171px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16159_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
}
#u16160 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
}
#u16161 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16159_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:171px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16159_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
}
#u16162 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
}
#u16163 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:118px;
}
#u16164 {
  position:absolute;
  left:332px;
  top:463px;
  width:149px;
  height:118px;
}
#u16165 {
  position:absolute;
  left:2px;
  top:51px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:118px;
}
#u16166 {
  position:absolute;
  left:491px;
  top:463px;
  width:149px;
  height:118px;
}
#u16167 {
  position:absolute;
  left:2px;
  top:51px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:118px;
}
#u16168 {
  position:absolute;
  left:333px;
  top:591px;
  width:149px;
  height:118px;
}
#u16169 {
  position:absolute;
  left:2px;
  top:51px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:118px;
}
#u16170 {
  position:absolute;
  left:492px;
  top:591px;
  width:149px;
  height:118px;
}
#u16171 {
  position:absolute;
  left:2px;
  top:51px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u16172 {
  position:absolute;
  left:457px;
  top:440px;
  width:57px;
  height:20px;
}
#u16173 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16174 {
  position:absolute;
  left:338px;
  top:242px;
  width:232px;
  height:25px;
}
#u16174_input {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16175 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16176 {
  position:absolute;
  left:594px;
  top:244px;
  width:21px;
  height:21px;
}
#u16177 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u16178 {
  position:absolute;
  left:598px;
  top:249px;
  width:14px;
  height:11px;
}
#u16179 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
