body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u65 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u67 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  opacity:0.3;
}
#u69 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u70 {
  position:absolute;
  left:138px;
  top:129px;
  width:85px;
  height:40px;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u70_ann {
  position:absolute;
  left:216px;
  top:125px;
  width:1px;
  height:1px;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:227px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  position:absolute;
  left:31px;
  top:216px;
  width:300px;
  height:227px;
}
#u73 {
  position:absolute;
  left:2px;
  top:106px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  position:absolute;
  left:60px;
  top:337px;
  width:242px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(102, 0, 102, 1) 0%, rgba(102, 0, 102, 1) 0%, rgba(102, 204, 51, 1) 68%, rgba(51, 0, 102, 1) 96%, rgba(51, 0, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(102, 0, 102, 1) 0%, rgba(102, 0, 102, 1) 0%, rgba(102, 204, 51, 1) 68%, rgba(51, 0, 102, 1) 96%, rgba(51, 0, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(102, 0, 102, 1) 0%, rgba(102, 0, 102, 1) 0%, rgba(102, 204, 51, 1) 68%, rgba(51, 0, 102, 1) 96%, rgba(51, 0, 102, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STXingkaiSC-Light', 'Xingkai SC Light', 'Xingkai SC';
  font-weight:200;
  font-style:italic;
}
#u77 {
  position:absolute;
  left:223px;
  top:337px;
  width:79px;
  height:30px;
  font-family:'STXingkaiSC-Light', 'Xingkai SC Light', 'Xingkai SC';
  font-weight:200;
  font-style:italic;
}
#u78 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:60px;
  top:337px;
  width:163px;
  height:30px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  background-color:#CCCCCC;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u80 {
  position:absolute;
  left:60px;
  top:252px;
  width:242px;
  height:30px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:30px;
  background-color:#CCCCCC;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:73px;
}
#u81 {
  position:absolute;
  left:149px;
  top:407px;
  width:74px;
  height:73px;
}
#u82 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u83 {
  position:absolute;
  left:153px;
  top:411px;
  width:66px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u84 {
  position:absolute;
  left:2px;
  top:24px;
  width:62px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u86 {
  position:absolute;
  left:0px;
  top:14px;
  width:360px;
  height:40px;
}
#u87 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u88 {
  position:absolute;
  left:13px;
  top:24px;
  width:12px;
  height:20px;
}
#u89 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u90 {
  position:absolute;
  left:145px;
  top:24px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93 {
  position:absolute;
  left:60px;
  top:293px;
  width:242px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:60px;
  top:293px;
  width:207px;
  height:30px;
  overflow:hidden;
}
#u95_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
}
#u95_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u95_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u95_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u97_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u98 {
  position:absolute;
  left:273px;
  top:296px;
  width:21px;
  height:24px;
}
#u98_img.selected {
}
#u98.selected {
}
#u99 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  position:absolute;
  left:60px;
  top:372px;
  width:211px;
  height:20px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
}
#u105 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u106 {
  position:absolute;
  left:309px;
  top:2px;
  width:9px;
  height:8px;
  color:#FFFFFF;
}
#u107 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
  color:#FFFFFF;
}
#u108 {
  position:absolute;
  left:276px;
  top:2px;
  width:25px;
  height:8px;
  font-size:6px;
  color:#FFFFFF;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:7px;
}
#u110 {
  position:absolute;
  left:331px;
  top:3px;
  width:13px;
  height:7px;
}
#u111 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
  color:#FFFFFF;
}
#u112 {
  position:absolute;
  left:13px;
  top:1px;
  width:19px;
  height:8px;
  font-size:6px;
  color:#FFFFFF;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
