body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u14236 {
  position:absolute;
  left:300px;
  top:100px;
  width:379px;
  height:776px;
}
#u14237 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u14238 {
  position:absolute;
  left:327px;
  top:197px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u14239 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u14240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:35px;
}
#u14240 {
  position:absolute;
  left:327px;
  top:197px;
  width:320px;
  height:34px;
}
#u14241 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u14242 {
  position:absolute;
  left:460px;
  top:205px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14243 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u14244 {
  position:absolute;
  left:338px;
  top:207px;
  width:12px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u14245 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14246 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:134px;
}
#u14247 {
  position:absolute;
  left:332px;
  top:263px;
  width:308px;
  height:133px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14248 {
  position:absolute;
  left:2px;
  top:58px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u14249 {
  position:absolute;
  left:391px;
  top:275px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14250 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u14251 {
  position:absolute;
  left:342px;
  top:274px;
  width:26px;
  height:21px;
}
#u14252 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
}
#u14253 {
  position:absolute;
  left:585px;
  top:271px;
  width:41px;
  height:24px;
  color:#515151;
}
#u14254 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u14255 {
  position:absolute;
  left:342px;
  top:316px;
  width:71px;
  height:20px;
}
#u14256 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u14257 {
  position:absolute;
  left:342px;
  top:352px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14258 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14259 {
  position:absolute;
  left:423px;
  top:316px;
  width:203px;
  height:22px;
}
#u14259_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14259_input:disabled {
  color:grayText;
}
#u14260 {
  position:absolute;
  left:423px;
  top:350px;
  width:203px;
  height:22px;
}
#u14260_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14260_input:disabled {
  color:grayText;
}
#u14261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u14261 {
  position:absolute;
  left:610px;
  top:205px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14262 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u14263 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:134px;
}
#u14264 {
  position:absolute;
  left:332px;
  top:405px;
  width:308px;
  height:133px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14265 {
  position:absolute;
  left:2px;
  top:58px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u14266 {
  position:absolute;
  left:391px;
  top:417px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14267 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u14268 {
  position:absolute;
  left:342px;
  top:416px;
  width:26px;
  height:21px;
}
#u14269 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u14270 {
  position:absolute;
  left:342px;
  top:458px;
  width:71px;
  height:20px;
}
#u14271 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u14272 {
  position:absolute;
  left:342px;
  top:494px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14273 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14274 {
  position:absolute;
  left:423px;
  top:458px;
  width:203px;
  height:22px;
}
#u14274_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14274_input:disabled {
  color:grayText;
}
#u14275 {
  position:absolute;
  left:423px;
  top:492px;
  width:203px;
  height:22px;
}
#u14275_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14275_input:disabled {
  color:grayText;
}
#u14276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u14276 {
  position:absolute;
  left:586px;
  top:414px;
  width:40px;
  height:25px;
}
#u14277 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:18px;
}
#u14278 {
  position:absolute;
  left:404px;
  top:236px;
  width:169px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u14279 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u14280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:305px;
}
#u14280 {
  position:absolute;
  left:752px;
  top:305px;
  width:249px;
  height:294px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14281 {
  position:absolute;
  left:10px;
  top:10px;
  width:229px;
  word-wrap:break-word;
}
#u14282_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:123px;
  height:25px;
}
#u14282 {
  position:absolute;
  left:632px;
  top:323px;
  width:111px;
  height:5px;
}
#u14283 {
  position:absolute;
  left:2px;
  top:-6px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:116px;
}
#u14284 {
  position:absolute;
  left:752px;
  top:100px;
  width:232px;
  height:105px;
}
#u14285 {
  position:absolute;
  left:10px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u14286 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:134px;
}
#u14287 {
  position:absolute;
  left:332px;
  top:551px;
  width:308px;
  height:133px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14288 {
  position:absolute;
  left:2px;
  top:58px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u14289 {
  position:absolute;
  left:391px;
  top:563px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14290 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
}
#u14291 {
  position:absolute;
  left:342px;
  top:562px;
  width:26px;
  height:21px;
}
#u14292 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u14293 {
  position:absolute;
  left:342px;
  top:604px;
  width:71px;
  height:20px;
}
#u14294 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u14295 {
  position:absolute;
  left:342px;
  top:640px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14296 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14297 {
  position:absolute;
  left:423px;
  top:604px;
  width:203px;
  height:22px;
}
#u14297_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14297_input:disabled {
  color:grayText;
}
#u14298 {
  position:absolute;
  left:423px;
  top:638px;
  width:203px;
  height:22px;
}
#u14298_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14298_input:disabled {
  color:grayText;
}
#u14299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u14299 {
  position:absolute;
  left:586px;
  top:560px;
  width:40px;
  height:25px;
}
#u14300 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
