body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u157 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u159 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  opacity:0.3;
}
#u161 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u162 {
  position:absolute;
  left:138px;
  top:129px;
  width:85px;
  height:40px;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u162_ann {
  position:absolute;
  left:216px;
  top:125px;
  width:1px;
  height:1px;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u164 {
  position:absolute;
  left:31px;
  top:213px;
  width:300px;
  height:170px;
}
#u165 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167 {
  position:absolute;
  left:60px;
  top:245px;
  width:242px;
  height:30px;
}
#u168 {
  position:absolute;
  left:2px;
  top:7px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(102, 0, 102, 1) 0%, rgba(102, 0, 102, 1) 0%, rgba(102, 204, 51, 1) 68%, rgba(51, 0, 102, 1) 96%, rgba(51, 0, 102, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(102, 0, 102, 1) 0%, rgba(102, 0, 102, 1) 0%, rgba(102, 204, 51, 1) 68%, rgba(51, 0, 102, 1) 96%, rgba(51, 0, 102, 1) 100%);
  background:linear-gradient(180deg, rgba(102, 0, 102, 1) 0%, rgba(102, 0, 102, 1) 0%, rgba(102, 204, 51, 1) 68%, rgba(51, 0, 102, 1) 96%, rgba(51, 0, 102, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STXingkaiSC-Light', 'Xingkai SC Light', 'Xingkai SC';
  font-weight:200;
  font-style:italic;
}
#u169 {
  position:absolute;
  left:223px;
  top:245px;
  width:79px;
  height:30px;
  font-family:'STXingkaiSC-Light', 'Xingkai SC Light', 'Xingkai SC';
  font-weight:200;
  font-style:italic;
}
#u170 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:60px;
  top:245px;
  width:163px;
  height:30px;
}
#u171_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  background-color:#CCCCCC;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:73px;
}
#u172 {
  position:absolute;
  left:149px;
  top:347px;
  width:74px;
  height:73px;
}
#u173 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:66px;
}
#u174 {
  position:absolute;
  left:153px;
  top:351px;
  width:66px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u175 {
  position:absolute;
  left:2px;
  top:24px;
  width:62px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u177 {
  position:absolute;
  left:0px;
  top:14px;
  width:360px;
  height:40px;
}
#u178 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u179 {
  position:absolute;
  left:13px;
  top:24px;
  width:12px;
  height:20px;
}
#u180 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u181 {
  position:absolute;
  left:145px;
  top:24px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u184 {
  position:absolute;
  left:60px;
  top:291px;
  width:242px;
  height:30px;
}
#u185 {
  position:absolute;
  left:2px;
  top:7px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:60px;
  top:291px;
  width:207px;
  height:30px;
  overflow:hidden;
}
#u186_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
}
#u186_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u187_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u186_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u186_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u188_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u189 {
  position:absolute;
  left:273px;
  top:294px;
  width:21px;
  height:24px;
}
#u189_img.selected {
}
#u189.selected {
}
#u190 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
}
#u194 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u195 {
  position:absolute;
  left:309px;
  top:2px;
  width:9px;
  height:8px;
  color:#FFFFFF;
}
#u196 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
  color:#FFFFFF;
}
#u197 {
  position:absolute;
  left:276px;
  top:2px;
  width:25px;
  height:8px;
  font-size:6px;
  color:#FFFFFF;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:7px;
}
#u199 {
  position:absolute;
  left:331px;
  top:3px;
  width:13px;
  height:7px;
}
#u200 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:6px;
  color:#FFFFFF;
}
#u201 {
  position:absolute;
  left:13px;
  top:1px;
  width:19px;
  height:8px;
  font-size:6px;
  color:#FFFFFF;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
