body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:679px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u1877 {
  position:absolute;
  left:300px;
  top:100px;
  width:379px;
  height:776px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u1880 {
  position:absolute;
  left:327px;
  top:206px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u1881 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u1882 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
}
#u1884 {
  position:absolute;
  left:327px;
  top:206px;
  width:320px;
  height:41px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u1886 {
  position:absolute;
  left:445px;
  top:217px;
  width:85px;
  height:20px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u1887 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u1888 {
  position:absolute;
  left:348px;
  top:217px;
  width:12px;
  height:20px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u1890 {
  position:absolute;
  left:417px;
  top:648px;
  width:140px;
  height:40px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u1893 {
  position:absolute;
  left:532px;
  top:414px;
  width:75px;
  height:21px;
  font-size:18px;
  color:#CCCCCC;
}
#u1894 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u1895 {
  position:absolute;
  left:532px;
  top:466px;
  width:76px;
  height:21px;
  font-size:18px;
  color:#CCCCCC;
}
#u1896 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u1897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:22px;
}
#u1898 {
  position:absolute;
  left:327px;
  top:440px;
  width:320px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1899 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u1900 {
  position:absolute;
  left:531px;
  top:440px;
  width:76px;
  height:21px;
  font-size:18px;
  color:#000000;
}
#u1901 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u1902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
}
#u1902 {
  position:absolute;
  left:363px;
  top:414px;
  width:75px;
  height:21px;
  font-size:18px;
  color:#CCCCCC;
}
#u1903 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u1904 {
  position:absolute;
  left:363px;
  top:466px;
  width:76px;
  height:21px;
  font-size:18px;
  color:#CCCCCC;
}
#u1905 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u1906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u1906 {
  position:absolute;
  left:362px;
  top:440px;
  width:76px;
  height:21px;
  font-size:18px;
  color:#000000;
}
#u1907 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
