body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1263px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:776px;
}
#u10716 {
  position:absolute;
  left:300px;
  top:100px;
  width:379px;
  height:776px;
}
#u10717 {
  position:absolute;
  left:2px;
  top:380px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u10718 {
  position:absolute;
  left:327px;
  top:205px;
  width:320px;
  height:568px;
  color:#00CC00;
}
#u10719 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  white-space:nowrap;
}
#u10720 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10721 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:42px;
}
#u10722 {
  position:absolute;
  left:327px;
  top:205px;
  width:320px;
  height:41px;
}
#u10723 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u10724 {
  position:absolute;
  left:445px;
  top:216px;
  width:85px;
  height:20px;
  opacity:0.5;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
}
#u10725 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u10726 {
  position:absolute;
  left:348px;
  top:216px;
  width:12px;
  height:20px;
}
#u10727 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10728 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u10729 {
  position:absolute;
  left:622px;
  top:217px;
  width:17px;
  height:17px;
}
#u10730 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10731 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10732 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u10733 {
  position:absolute;
  left:336px;
  top:255px;
  width:8px;
  height:8px;
}
#u10734 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u10735 {
  position:absolute;
  left:336px;
  top:266px;
  width:8px;
  height:8px;
}
#u10736 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u10737 {
  position:absolute;
  left:336px;
  top:278px;
  width:8px;
  height:8px;
}
#u10738 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u10739 {
  position:absolute;
  left:336px;
  top:289px;
  width:8px;
  height:8px;
}
#u10740 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u10741 {
  position:absolute;
  left:336px;
  top:300px;
  width:8px;
  height:8px;
}
#u10742 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u10743 {
  position:absolute;
  left:332px;
  top:311px;
  width:43px;
  height:16px;
  color:#999999;
}
#u10744 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u10745 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10746 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10747 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u10748 {
  position:absolute;
  left:503px;
  top:336px;
  width:110px;
  height:110px;
  opacity:0.5;
}
#u10749 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u10750 {
  position:absolute;
  left:526px;
  top:412px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u10751 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10752 {
  position:absolute;
  left:532px;
  top:350px;
  width:49px;
  height:49px;
}
#u10753 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10754 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10755 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u10756 {
  position:absolute;
  left:500px;
  top:468px;
  width:110px;
  height:110px;
  opacity:0.5;
}
#u10757 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u10758 {
  position:absolute;
  left:520px;
  top:545px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u10759 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:43px;
}
#u10760 {
  position:absolute;
  left:525px;
  top:492px;
  width:53px;
  height:42px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u10761 {
  position:absolute;
  left:2px;
  top:13px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10762 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10763 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u10764 {
  position:absolute;
  left:373px;
  top:336px;
  width:110px;
  height:110px;
  opacity:0.5;
}
#u10765 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u10766 {
  position:absolute;
  left:397px;
  top:411px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u10767 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:53px;
}
#u10768 {
  position:absolute;
  left:407px;
  top:349px;
  width:48px;
  height:52px;
}
#u10769 {
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10770 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u10771 {
  position:absolute;
  left:373px;
  top:468px;
  width:110px;
  height:110px;
  opacity:0.5;
}
#u10772 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u10773 {
  position:absolute;
  left:397px;
  top:545px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
}
#u10774 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u10775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:46px;
}
#u10775 {
  position:absolute;
  left:400px;
  top:490px;
  width:52px;
  height:45px;
}
#u10776 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10777_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:138px;
  height:25px;
}
#u10777 {
  position:absolute;
  left:648px;
  top:301px;
  width:126px;
  height:5px;
}
#u10778 {
  position:absolute;
  left:2px;
  top:-6px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:75px;
}
#u10779 {
  position:absolute;
  left:804px;
  top:278px;
  width:459px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10780 {
  position:absolute;
  left:10px;
  top:10px;
  width:439px;
  word-wrap:break-word;
}
#u10781 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u10782 {
  position:absolute;
  left:619px;
  top:296px;
  width:24px;
  height:20px;
}
#u10783 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u10784 {
  position:absolute;
  left:635px;
  top:293px;
  width:8px;
  height:8px;
}
#u10785 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
